:root {
    --primary-color: rgba(44, 44, 44, 0.75)
}

.online {
    background-color: var(--primary-color);
    color: #fff;
    height: 50vh;
    position: relative;
}

.online:before {
    content: '';
    background: url(https://images.unsplash.com/photo-1600728619239-d2a73f7aa541?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.online-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.online p {
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50px;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
}

.order h3 {
    text-align: center;
    margin-top: 2.5em;
    font-family: 'Oswald', sans-serif;
    color: rgb(190, 18, 18);
    letter-spacing: 2px;
    font-weight: bold;
}

.order p {
    text-align: center;
}

.order-img {
    max-height: 500px;
    max-width: 500px;
}

.platform {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.order {
    margin-top: 2.2em;
}

.order-btn .order-now {
    text-decoration: none;
    border: 1px solid #fff;
    background: rgb(190, 18, 18);
    color: #fff;
    padding: 25px;
    font-family: 'Oswald', sans-serif;
    transition: ease-in 0.2s;
}

.order-btn .order-now:hover {
    box-shadow: 1px 1px 1px 1px rgb(235, 224, 224);
    background: rgb(243, 16, 16);
}

#uber-btn {
    text-decoration: none;
    border: 1px solid #fff;
    background: rgb(24, 190, 18);
    color: #fff;
    padding: 25px;
    font-family: 'Oswald', sans-serif;
    transition: ease-in 0.2s;
}

#uber-btn:hover {
    box-shadow: 1px 1px 1px 1px rgb(243, 243, 243);
    background: rgb(51, 238, 44);
}

.foot {
    margin-top: 3.3em;
}

@media(max-width: 550px) {
    .order-img {
        max-width: 300px;
        max-height: 300px;
    }
}

@media(max-width: 525px) {
    .online {
        height: 30vh;
    }
    .online p {
        font-size: 40px;
        margin-bottom: 200px;
    }
}